<style type="text/css">
  #header.fluid-row::before {
   content: "";

 }
/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 150px;
  margin: 1px 1px 1px 1px;
  background-image: url("logo_dark.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #6d87f8;
    border-color: #6d87f8ff;
    }

 /*------------- Links---------------- */
a {
  color: #6d87f8ff;
    text-decoration: none;
}

a:hover {
  color: #50a0b0; /* darker color when hovering */
}

 /*------------- Whole Document---------------- */
body{ /* Normal  */
    font-size: 16px;
  color: Black;
}
td {  /* Table  */
    font-size: 14px;
}
h1.title {
  font-size: 38px;
  color: #6d87f8ff;
}
h1 { /* Header 1 */
    font-size: 28px;
  color: #6d87f8ff;
}
h2 { /* Header 2 */
    font-size: 22px;
  color: #6d87f8ff;
}
h3 { /* Header 3 */
    font-size: 20px;
  color: #6d87f8ff;
}

code.r{ /* Code block */
    font-size: 16px;
}

</style>
